/* selector {
    property: value;
} */

/* logo animation  */
@keyframes slidein {
    from {
      margin-left: 100%;
      width: auto;
    }
  
    to {
      margin-left: 0%;
      width: auto;
    }
  }



body {
    margin: auto 0; /* resets the browser css*/
    /* background-color: black; */
}


/***********************************************************************
 *  Navigation Bar - these help with the main navigation bar at the top. 
 **********************************************************************/

.sticky {
    position: fixed; /* will drag along as you roll down the screen*/
    z-index: 100;
    top: 0;
    width: 100%;
}

.main-nav {
    display: flex; /* activates the flex tool */
    list-style: none;
    font-size: .8em; 
    margin: 0;
    background-color: #ba0ca0;
}

li {
    padding: 20px;
}

a{
    color: #010112;
    text-decoration: none;
}


.push{
    
    margin-left: auto;
}

/***********************************************************************
 *  container zone logo 
 **********************************************************************/

  .container {
      margin-top: 70px;
    background-color: rgb(2,17,28);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 50vh;
    background-repeat: no-repeat;
    width: cover;
}


.item1 {
    /* align-self:flex-start; */
    
    height: 50vh;
}

.item2 {
    /* animation-duration: 1.5s;
    animation-name: slidein;   */
    width: 300px;
    height: 150px;
}

.item3 {
    align-self:flex-end;
    height: 50vh;
}


/***********************************************************************
 *  
 **********************************************************************/


.zone {
    
    color:#ba0ca0;
    font-family: 'Segoe UI';
    font-size:2em;
    border-radius:4px;
    /* border:1px solid #050404; */
    transition: all 0.3s linear;
}

/***********************************************************************
 *  catalog
 **********************************************************************/

.catalog {
    flex-direction: column;
}

.item4 {
    /* background for pink skirt */
    /* width: 100vh; */

}


/***********************************************************************
 *  bkg1
 **********************************************************************/
.bk1 {
    position: relative;
}

/* .item4 {
    /* background for pink skirt */
/* width: 100vh; 
position: absolute;
z-index: 1;

}

*/

/* pink skirt */
.product1 {
    position: absolute;
    z-index: 2;
    top: 701px;
    left: 1400px;
    width: 351px;
    height: 449px;
    border-radius: 20px;

    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
}

.product1:hover {
    transform: scale(1.25);

}

/***********************************************************************
*  bkg2
**********************************************************************/

.bk2 {}

.product2 {
    position: absolute;
    z-index: 3;
    top: 1700px;
    left: 1400px;
    width: 351px;
    height: 449px;
    border-radius: 20px;

    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
}

.product2:hover {
    transform: scale(1.25);

}

/* .container {
  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container img {
    width: 330px;
    height: 615px;
    margin: 10px;
    border-radius: 15px;
    transition: all 1s;
}


.container img:hover {
    transform: scale(1.1);
} */
